# Pyrogram implimantion 
pyrogram 
tgcrypto 
aiohttp

# Database implimantion
pymongo
dnspython

langdetect
urlextract
requests
emojis
stellagban
pyromod
pykeyboard 
captcha
apscheduler
ffmpeg
python-dotenv
aiofiles
pykeyboard
odmantic
motor<2.4.0,>=2.1.0
bs4
requests
